@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.75px;
}

.header-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(100, 70%, 50%, 0.5);
  padding: 0.7rem 1rem;
}
.logo-container {
  width: 40px;
  height: 40px;
}
.logo-container img {
  width: 100%;
  height: 100%;
}

.right-header-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: hsla(350, 90%, 1%, 0.8);
  font-weight: 700;
}

.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 2rem 1rem;
  background-color: hsla(200, 70%, 50%, 0.5);
}
.left-hero-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 60%;
  height: auto;
  border-radius: 1rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.right-hero-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.me-container {
  width: fit-content;
  height: auto;
}
.me-container h1 {
  font-size: clamp(2rem, 1vw + 1rem, 4rem);
  font-weight: 500;
  line-height: 3.5rem;
}

.description-container {
  width: fit-content;
  height: auto;
}
.description-container p {
  font-size: 1rem;
  letter-spacing: -0.75;
  line-height: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width:1140px){.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 8rem 1rem;
  background-color: hsla(200, 70%, 50%, 0.5);}
  
}

